/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/fields.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.fields_field__6Qk4o {
    /* height: '100%'; */
    /* width: '100%'; */
    border: 1px solid green;
   /* padding: 1px;
    margin: 3px;  */
    /* width: 100%; */
}

.fields_container__8_tBQ {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* height: '100%'; */
    /* width: '100%'; */
    
}


